# PostgreSQL
POSTGRES_USER=your-user
POSTGRES_PASSWORD=your-password
POSTGRES_PORT=5432

# Kafka
KAFKA_EXTERNAL_PORT=9094
KAFKA_INTERNAL_PORT=9092
KAFKA_NODE_ID=1
KAFKA_PROCESS_ROLES=broker,controller
KAFKA_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS=0
CLUSTER_ID=abcdefghijklmnopqrstuv

# Keycloak
KEYCLOAK_ADMIN=your-keycloak-user
KEYCLOAK_ADMIN_PASSWORD=your-keycloak-password
KC_PORT=8180
KC_HOSTNAME=keycloak

# Schema registry
SR_PORT=8085
SR_BOOTSTRAP_SERVERS=kafka:9092
SR_LISTENERS=http://0.0.0.0:8085