SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/report_service
SPRING_DATASOURCE_USERNAME=your-user
SPRING_DATASOURCE_PASSWORD=your-password
SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
SERVER_PORT=8083

JWT_ISSUER_URI=http://keycloak:8080/realms/<your-realm>
JWT_JWK_SET_URI=http://keycloak:8080/realms/<your-realm>/protocol/openid-connect/certs
JWT_RESOURCE_ID=report-service
JWT_PRINCIPAL_ATTRIBUTE=preferred_username